# Generated with Atomizr – https://atom.io/packages/atomizr
".source.extempore":
	"named-let-cons":
		prefix: "letn"
		body: '''
			(let loop ((i 0)
			           (lst '(60)))
			      (if (< i 24)
			          (loop (+ i 1)
			                (cons (+ (car lst) (random (list -1 1)))                                          				'(0 2 4 5 7 9 11))
			                      lst))
					  (println lst))$0
		'''
