# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle extempore-atom'
      'command': 'extempore-atom:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Extempore'
      'submenu': [
        {
          'label': 'Connect'
          'command': 'extempore-atom:Connect'
        }
        {
          'label': 'Disconnect'
          'command': 'extempore-atom:Disconnect'
        },
        {
          'label': 'Evaluate'
          'command': 'extempore-atom:Evaluate'
        }
      ]
    ]
  }
]
